<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Phil Custer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item social-nav-item">
        <a href="https://www.instagram.com/custer_cubed/" title="Instagram" target="_blank"><i class="fab fa-instagram fa-2x social-icon"></i></a>
      </li>
      <li class="nav-item social-nav-item">
        <a href="https://www.linkedin.com/in/phillip-custer-144512131/" title="Linkedin" target="_blank"><i class="fab fa-linkedin fa-2x social-icon"></i></a>
      </li>
      <li class="nav-item social-nav-item">
        <a href="https://github.com/PhilCuster" title="Github" target="_blank"><i class="fab fa-github fa-2x social-icon"></i></a>
      </li>
    </ul>
  </div>
</nav>