.home-carousel {
    margin-bottom: 20px;
}

.carousel-image {
    width: 100%;
}

.photo-caption {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}